{% extends "base.html" %}

{% block title %} {{ block.super }} | Login {% endblock %}

{% block body %}

    <div class="container">
        <h2>Login Stock management</h2>
        <a href="{% url 'register' %}" class="btn btn-success">Register</a>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    {% if field.errors %}
                        {% for msg in field.errors %}
                            <p class="text-danger">{{ msg }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Daxil ol</button>
        </form>

    </div>
{% endblock %}
